@charset "UTF-8";

section#conteudo {
	width: 1000px;
	margin: auto;

}

iframe#frame-spec{
	width: 350px;
	height: 290px;
	border: none; /*remove borda*/
	
}

iframe#frame-spec::-webkit-scrollbar {
	display:none;
}